In [78]:
# set pandas dataset
import pandas as pd
pd.set_option('display.max_rows', 7)
pd.set_option('display.max_columns', 6)

#import numpy
import numpy as np

# initialize lists
data = [[2190, 2133, 6892, 18.2785, 18.1903],
        [2207, 2133, 7068, 22.3517, 22.2032],
        [1910, 2134, 6216, 17.1261, 16.5916], 
        [1987, 2134, 6154, 22.0054, 21.6215], 
        [1834, 2119, 6582, 24.9748, 24.6152], 
        [2147, 2111, 7182, 27.2596, 27.0889], 
        [2268, 2015, 6901, 30.5700, 30.3031]] 

df = pd.DataFrame(data, columns = ['Gross Profit', 'Basic Shares Outstanding', 'Revenue','high','low'])
df.index = ['2019-09-30','2019-12-31','2020-03-31','2020-06-30','2020-09-30','2020-12-31','2021-03-31']
df

            Gross Profit  Basic Shares Outstanding  Revenue     high      low
2019-09-30          2190                      2133     6892  18.2785  18.1903
2019-12-31          2207                      2133     7068  22.3517  22.2032
2020-03-31          1910                      2134     6216  17.1261  16.5916
2020-06-30          1987                      2134     6154  22.0054  21.6215
2020-09-30          1834                      2119     6582  24.9748  24.6152
2020-12-31          2147                      2111     7182  27.2596  27.0889
2021-03-31          2268                      2015     6901  30.5700  30.3031

In [84]:
#change to percentages
pct_df = pd.DataFrame(index = df.index)
for column in df.columns:
    pct_df[column] = df[column].pct_change().mul(100).round(2)

#add Decisions
decisions = [np.nan]
for row in range(1, len(pct_df.index)):
    decisions.append(1 if int(pct_df.iloc[row,3]) >= 3 and int(pct_df.iloc[row,4]) >= 3 else 0)
pct_df['Decision'] = decisions

pct_df = pct_df.drop(labels='2019-09-30',axis=0)
pct_df

,Gross Profit,Basic Shares Outstanding,Revenue,high,low,Decision
2019-12-31,0.78,0.00,2.55,22.28,22.06,1.0
2020-03-31,-13.46,0.05,-12.05,-23.38,-25.27,0.0
2020-06-30,4.03,0.00,-1.00,28.49,30.32,1.0
2020-09-30,-7.70,-0.70,6.95,13.49,13.85,1.0
2020-12-31,17.07,-0.38,9.12,9.15,10.05,1.0
2021-03-31,5.64,-4.55,-3.91,12.14,11.87,1.0

In [95]:
X = pct_df.T.drop(labels=['high','low','Decision'],axis=0)
Y = pct_df[['Decision']].T

X

,2019-12-31,2020-03-31,2020-06-30,2020-09-30,2020-12-31,2021-03-31
Gross Profit,0.78,-13.46,4.03,-7.70,17.07,5.64
Basic Shares Outstanding,0.00,0.05,0.00,-0.70,-0.38,-4.55
Revenue,2.55,-12.05,-1.00,6.95,9.12,-3.91

In [111]:
# What value to initialize w, b, and alpha?
w, b, alpha = 1, 1, 1
m = len(X)

# How many times to iterate?
for count in range(10):
    Z = np.dot(w, X) + b
    print("Z: {}".format(Z))
    A = 1/(1 + np.exp(-Z))
    print("A: {}".format(A))
    dZ = A - Y.to_numpy()
    print("dz: {}".format(dZ))
    dw = (1/m*X*dZ).to_numpy()
    print("dw: {}".format(dw))
    db = 1/m * np.sum(dZ)
    print("db: {}".format(db))
    w = w - alpha*dw
    print("w: {}".format(w))
    b = b - alpha*db
    print("b: {}".format(b))
    
print(w)
print(b)

Z: [[  1.78 -12.46   5.03  -6.7   18.07   6.64]
 [  1.     1.05   1.     0.3    0.62  -3.55]
 [  3.55 -11.05   0.     7.95  10.12  -2.91]]
A: [[8.55696866e-01 3.87872573e-06 9.93503668e-01 1.22939862e-03
  9.99999986e-01 9.98694679e-01]
 [7.31058579e-01 7.40774899e-01 7.31058579e-01 5.74442517e-01
  6.50218549e-01 2.79225738e-02]
 [9.72077426e-01 1.58868968e-05 5.00000000e-01 9.99647462e-01
  9.99959735e-01 5.16614355e-02]]
dz: [[-1.44303134e-01  3.87872573e-06 -6.49633228e-03 -9.98770601e-01
  -1.42003387e-08 -1.30532115e-03]
 [-2.68941421e-01  7.40774899e-01 -2.68941421e-01 -4.25557483e-01
  -3.49781451e-01 -9.72077426e-01]
 [-2.79225738e-02  1.58868968e-05 -5.00000000e-01 -3.52537838e-04
  -4.02645042e-05 -9.48338565e-01]]
dw: [[-3.75188149e-02 -1.74025494e-05 -8.72673970e-03  2.56351121e+00
  -8.07999271e-08 -2.45400377e-03]
 [-0.00000000e+00  1.23462483e-02 -0.00000000e+00  9.92967461e-02
   4.43056505e-02  1.47431743e+00]
 [-2.37341877e-02 -6.38123689e-05  1.66666667e-01 -8.16712658e-04
  -1.22404093e-04  1.23600126e+00]]
db: -1.3906779608444184
w: [[ 1.03751881  1.0000174   1.00872674 -1.56351121  1.00000008  1.002454  ]
 [ 1.          0.98765375  1.          0.90070325  0.95569435 -0.47431743]
 [ 1.02373419  1.00006381  0.83333333  1.00081671  1.0001224  -0.23600126]]
b: 2.3906779608444184

ValueError: shapes (3,6) and (3,6) not aligned: 6 (dim 1) != 3 (dim 0)